* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

img {
    max-width: 100%;
}

:root {
    --secondary: #2583FD;
    --primary: #9792E4;
    --light-blue: #b5ddff;
    --white: #ffff;
    --dark-grey: #333333;
    --yellow: #FCC15F;
}

body {
    font-family: 'PT Sans', sans-serif;
}



/* #region utilities */
.d_flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin: 0 -1rem;
}

/* tutte le col_ hanno un padding laterale di 1 rem */
[class^="col_"] {
    padding: 0 1rem;
}

.centered {
    justify-content: center;
}

.purple_bg {
    background-color: var(--primary);
}

/* #region COL */

.col_12 {
    width: calc(100%/12 * 12);
}

.col_11 {
    width: calc(100%/12 * 11);
}

.col_10 {
    width: calc(100%/12 * 10);
}

.col_9 {
    width: calc(100%/12 * 9);
}

.col_8 {
    width: calc(100%/12 * 8);
}

.col_7 {
    width: calc(100%/12 * 7);
}

.col_6 {
    width: calc(100%/12 * 6);
}

.col_5 {
    width: calc(100%/12 * 5);
}

.col_4 {
    width: calc(100%/12 * 4);
}

.col_3 {
    width: calc(100%/12 * 3);
}

/* #endregion COL */

/* #endregion utilities */





/* #region debug */
.debug [class^="col_"] {
    height: 300px;
    border: 1px dashed;
}

/* cosí si vedono le col */
.debug #site_header {
    height: 50px;
    background-color: var(--secondary);
}

.debug #site_footer {
    height: 100px;
    background-color: var(--dark-grey);
}

/* #endregion debug */

/* #region header */
#site_header {
    background-color: var(--secondary);
}

#site_header .container {
    justify-content: space-between;
    align-items: center;
}

.header_left img {
    padding: 0.5rem;
}

.header_right_lg {
    display: none;
}

.header_right_lg li {
    color: white;
    padding: 0.5rem;
}

/* #endregion header */

/* #region Demo */
.blue_card {
    background-color: var(--light-blue);
    border-radius: 20px;
    padding: 2rem;
    font-size: 14px;
    line-height: 1.5rem;
    margin: 1rem 0;
    text-align: center;
    min-height: calc(100% - 1rem);

}

.card_left a {
    display: inline-block;
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 0.5rem 3rem;
    color: white;
    text-decoration: none;
}

#phone {
    padding-top: 2rem;
    margin-bottom: -2.5rem;
}

#apple {
    width: 10px;
    color: var(--white);
}

.blue_card p {
    padding: 1rem 0;
}

.blue_card i {
    color: var(--secondary);
}

.blue_card h3 {
    color: var(--secondary);
    padding: 1rem 0;
    font-size: 18px;
}

/* #endregion Demo */

/* #region Planning */
.planning {
    color: var(--white);
}

.planning h2 {
    font-size: 2rem;
    padding: 2rem 0;
}

.planning p {
    font-size: 20px;
    line-height: 2rem;
    padding: 2rem 0;
}

.white_card {
    background-color: var(--white);
    border-radius: 40px;
    text-align: center;
    color: var(--dark-grey);
    padding: 1rem;
}

.white_card i {
    background-color: var(--primary);
    border-radius: 50%;
    padding: 1.5rem;
}

/* #endregion Planning */

/* #region experts */
.experts {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
}

.experts h2 {
    color: var(--primary);
    padding: 2rem 0;
}

.purple_card {
    background-color: var(--primary);
    border-radius: 40px;
    color: var(--white);
    padding: 2rem;
    margin: 2rem;
}

.image_cropper {
    display: inline-block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;

}

.purple_card img {
    object-fit: cover;
}

.purple_card h3 {
    margin: 2rem 0;
}

/* #endregion experts */

/* #region with_us */
.with_us h2 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem 0;

}

.us_card {
    background-color: var(--white);
    border-radius: 30px;
    padding: 2rem;
    color: var(--dark-grey);
    line-height: 2rem;
    margin: 1rem 0;
}

.us_card h2,
.us_card h3 {
    color: var(--primary);
    text-align: left;
    padding: 2rem 0;
}

.us_card h2 {
    font-size: 3rem;
}

.us_card h3 {
    font-size: 1.5rem;
}

.us_card p {
    padding: 2rem 0;
}

.with_us a {
    background-color: var(--primary);
    border-radius: 20px;
    padding: 1rem 3rem;
    color: var(--white);
    text-decoration: none;
}

/* #endregion with_us */

/* #region about_us */
.about_us {
    margin: 2rem 0 6rem 0;
}

.about_us h2 {
    color: var(--primary);
    font-size: 2.5rem;
    padding: 2rem 0;
}

.about_us p {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 2rem 0;
}

.about_us img {
    display: block;
    border-radius: 50%;
    width: 50%;
}

.about_us .fa-quote-left {
    color: var(--primary);
    position: relative;
    top: -220px;
    left: 190px;

}

.about_us a {
    display: inline-block;
    background-color: var(--primary);
    border-radius: 40px;
    padding: 1rem 3rem;
    color: var(--white);
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

/* #endregion about_us */

/* #region call_to_action */
.call_to_action {
    text-align: center;
}

.call_to_action h3 {
    color: var(--white);
    opacity: 50%;
    padding: 1rem 0;
}

.call_to_action h2 {
    color: var(--white);
}

.call_to_action h1 {
    color: var(--yellow);
    font-size: 2.5rem;
    padding: 2rem 0;
}

.call_to_action p {
    color: var(--white);
    padding: 1rem 0;
}

.call_to_action a {
    display: inline-block;
    background-color: var(--white);
    color: var(--primary);
    text-decoration: none;
    padding: 1rem 5rem;
    /* perché il padding non va ? */
    border-radius: 30px;
    padding: 1rem 2rem;
    margin: 2rem 0;
}

/* #endregion call_to_action */

/* #region footer */
footer {
    background-color: var(--dark-grey);
    text-align: center;
    color: var(--white);
    padding: 3rem 0;
}

footer p {
    padding: 2rem 0;
}

footer a {
    color: var(--primary);
}

/* #endregion footer */

/* #region mediaQueries */
@media screen and (min-width: 768px) {
    .col_md_12 {
        width: calc(100%/12 * 12);
    }

    .col_md_11 {
        width: calc(100%/12 * 11);
    }

    .col_md_10 {
        width: calc(100%/12 * 10);
    }

    .col_md_9 {
        width: calc(100%/12 * 9);
    }

    .col_md_8 {
        width: calc(100%/12 * 8);
    }

    .col_md_7 {
        width: calc(100%/12 * 7);
    }

    .col_md_6 {
        width: calc(100%/12 * 6);
    }

    .col_md_5 {
        width: calc(100%/12 * 5);
    }

    .col_md_4 {
        width: calc(100%/12 * 4);
    }

    .col_md_3 {
        width: calc(100%/12 * 3);
    }

    /* about us */
    .about_us .fa-quote-left {
        color: var(--primary);
        position: relative;
        top: -130px;
        left: 100px;
        font-size: 3rem;

    }

    /* #region experts */
    .purple_card {
        display: flex;
    }

    .purple_quotes {
        text-align: start;
    }

    /* #endregion experts */

}

@media screen and (min-width: 1200px) {

    .col_lg_12 {
        width: calc(100%/12 * 12);
    }

    .col_lg_11 {
        width: calc(100%/12 * 11);
    }

    .col_lg_10 {
        width: calc(100%/12 * 10);
    }

    .col_lg_9 {
        width: calc(100%/12 * 9);
    }

    .col_lg_8 {
        width: calc(100%/12 * 8);
    }

    .col_lg_7 {
        width: calc(100%/12 * 7);
    }

    .col_lg_6 {
        width: calc(100%/12 * 6);
    }

    .col_lg_5 {
        width: calc(100%/12 * 5);
    }

    .col_lg_4 {
        width: calc(100%/12 * 4);
    }

    .col_lg_3 {
        width: calc(100%/12 * 3);
    }

    /* #region Demo */
    .card_left {
        width: 50%;
    }

    .card_right {
        width: 50%;
    }

    /* #endregion Demo */

    /* #region about us */
    .about_us .fa-quote-left {
        color: var(--primary);
        position: relative;
        top: -180px;
        left: 150px;
        font-size: 4rem;

    }

    /* #endregion about us */
}

/* #endregion mediaQueries */